@import url('https://fonts.googleapis.com/css2?family=Lekton&family=Snippet&display=swap');

.App {
  text-align: center;
  font-family: 'Lekton', sans-serif;
  width: 700px;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Snippet', sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.userData {
  display: block;
}

.userOptions {
  display: flex;
  text-align: left;
  justify-content: center;
  margin: 0 auto;
}

button:hover, button:active {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, .7);
}